<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="body-text-container">
    <h2>About Us</h2>
    <p>We use primordial indigenous knowledge to ascertain the winner of a football match. Our objectives are to:</p>
    <ol>
        <li>Show the power of primordial indigenous knowledge, and</li>
        <li>Ignite dialogue on possible applications of this “forgotten” knowledge in our day-to-day activities as individuals and as a nation.</li>
    </ol>
    <p>Therefore, this website is strictly educational. We do not endorse, encourage or promote betting or gambling.</p>
</div>
{% endblock %}