{% extends 'base.html' %}

{% block title %}Privacy and Cookie Policy{% endblock %}

{% block content %}
<div class="body-text-container">
    <h2 style="text-align: center;">Privacy and Cookie Policy</h2>
    <p><strong>Introduction </strong></p>

    <p>This Privacy and Cookie Policy (“Privacy Policy”) applies to
        <a href="http://www.whowillwin.football">www.whowillwin.football</a> (“Website”) and its associated applications
        and services owned and operated by Hascy Technologies (“we” or “us” or “our”); registered in Nigeria.
        This Privacy Policy provides you with general information on how we collect, process and use your personal data.
        “Personal data” means any information relating to an identified or identifiable natural person which may include
        but is not limited to your name, phone number, email address and country. These may be collected by us when you
        access the Website and its associated applications and services, contact our support team, interact with e-mails
        from us or participate in any survey or contest organised by us or on our behalf by a third party. We will not
        use or share your information with anyone except as described in this Privacy Policy. This Privacy Policy does
        not apply to information we collect by other means or from other sources.</p>

    <p>By using the Website and its associated applications and services or by submitting personal data to us, you
        understand and agree that your personal data may be processed as explained in this Privacy Policy.
        If you do not accept this Privacy Policy, we advise you not to use the Website and its associated
        applications and services or submit any personal data to us.</p>

    <p>This Privacy &amp; Cookie Policy was last updated on 21 May 2023.</p>

    <p><strong>Types of personal data we collect</strong></p>

    <p>Personal data is typically collected when you use the Website and its associated applications and services or
        otherwise interact with us as explained above. These may include IP address, access times, the identity of a
        website you used to link to our site, a listing of our website pages you visit, a listing of the content you
        view on our site and such other behavioural information your browser sends us. We may ask you to provide us
        with other types of information, such as name, email address, phone number, country of residence, favourite club,
        age, gender, etc.</p>

    <p>Certain non-identifiable personal data may become identifiable when you provide us with your personal data.
        This includes such information as your browser type or domain name. In addition, we may obtain your personal
        identification from publicly available sources.</p>

    <p><strong>How we use your data</strong></p>

    <p>We may collect your data for a variety of reasons and sometimes, there are one or more reasons that apply
    simultaneously. These include:</p>
<ul>
    <li><p>To develop our products and services.</p></li>
    <li><p>To contact you.</p></li>
    <li><p>For conducting direct marketing campaigns or market research.</p></li>
    <li><p>To prevent and investigate possible misuses.</p></li>
 	<li><p>To identify you, fulfil the contract between you and us and ensure the functionality and security of our
        products and services.</p></li>
</ul>
     <p><strong>When we disclose your personal data</strong></p>

     <p>There are some instances when we may disclose your personal data. These instances are stated below:</p>
<ul>
    <li><p>We may disclose your personal data with your consent.</p></li>
 	<li><p>We may disclose your personal data to authorized third parties who process personal data on our behalf
        for the purposes stated in this Privacy Policy. While conducting marketing and other types of communication
        jointly with our partners, we may combine information we have collected about you with information our
        partners have collected about you to avoid unnecessary communications and to tailor content for you.</p></li>
 	<li><p>If we sell, buy, merge or reorganize in some other way, this may involve us disclosing your personal data
        to potential and actual purchasers and their advisers.</p></li>
 	<li><p>We may be obliged to disclose your personal data to the authorities or other third parties. We may also
        disclose and otherwise process your personal data, in accordance with applicable legislation, to defend our
        legitimate interests.</p></li>
 	<li><p>We may disclose your personal data in order to enforce our Terms and Conditions or to protect the security
        or integrity of our Website and its associated applications and services.</p></li>
</ul>
     <p><strong>Transfer of personal data </strong></p>

<p>We will neither sell nor disclose your personal data to third parties, other than as described in this Privacy
    Policy. We may, however, transfer your personal data to vendors or service providers who perform functions on our
    behalf; for example to provide customer services, or to perform email administrative functions.
    These vendors and service providers are contractually obligated to use your personal data only for the purposes
    for which they were hired, and are required to take adequate security measures to ensure a comparable level of
    protection for your personal data. Our vendors and service providers may be located in any country because we
    may change vendors and service providers when the need arises. Therefore, the personal data you provide may be
    transferred to any country for processing, and while in that country, may be accessible to foreign courts,
    law, and national security authorities. However, we are committed to ensuring that your personal data is
    protected in an adequate manner in accordance with applicable legislation.</p>

     <p><strong>Third-party privacy policies</strong></p>

<p>The Website and its associated applications and services may contain links to third-party websites and services
    that have their own privacy policies.  This does not constitute an endorsement of those third-party websites
    and services. We advise you to read carefully the privacy policies of such third parties. We are not responsible
    for such third parties’ privacy practices or contents. In addition, third-party services installed on your own
    device may allow access to information. These third-party links and services on your own device are not under
    our control.</p>

     <p><strong>Behavioural targeting/re-targeting</strong></p>

<p>We partner with third parties to display advertisements on the Website and its associated applications and services
    and also manage our advertisements on other sites. Our third-party partners may use technologies such as cookies
    to gather information about your activities on the Website and its associated applications and services and
    other sites in order to provide you with advertisements based on your browsing activities and interests.</p>

     <p><strong>Website analytics and user information</strong></p>

<p>The Website and its associated applications and services make use of website analytics services provided by Google
    Analytics and Microsoft Azure (“Analytics Providers”). This helps us to analyse how users use our Website and its
    associated applications and services, including the number of visitors, where they come from, and the specific
    pages visited. We may receive periodic individual as well as aggregated reports of such activities from Analytics
    Providers. This information is used by us to improve our services. Furthermore, we may use some features provided
    by Analytics Providers like demographics and remarketing to deliver relevant targeted advertisements to you when
    you browse other sites in the Internet.</p>

<p>As a rule, any information about your use of our Website and its associated applications and services will be
    transmitted to and stored by Analytics Providers on servers in the United States. By using the Website and its
    associated applications and services, you consent to the processing of data about you by Analytics Providers
    in the manner and for the purposes set out in the above statement.</p>

     <p><strong>Cookies </strong></p>

<p>Sometimes a “cookie” file may be stored on the device you use to access the Website and its associated applications
    and services in order to improve your user experience. A cookie is a small piece of data sent to your device from
    a website and stored in your web browser while you are browsing a website. When you return to the website and
    browse, the data stored in the cookie may be retrieved by the website to notify the website of your previous
    activity.</p>

<p>Most browsers are set to accept cookies and you can change your settings to refuse all cookies or alert you when
    a cookie is being sent. If you visit our Website and your browser settings accept cookies, we consider this as an
    express consent to our use of cookies. To read more about cookies and how they work, kindly
    visit <a href="http://www.allaboutcookies.org/">http://www.allaboutcookies.org</a>.</p>

     <p><strong>Why do we use cookies?</strong></p>

<p>Certain cookies are necessary to run basic functions on the Website and its associated applications and services.
    These cookies are needed to provide you with the best user experience possible. We may also use cookies to
    provide better services and products to you. By using cookies, the Website and its associated applications and
    services may remember the language and country choices you have made during past visits. We may conduct analytical
    profiling to learn what services and web pages are popular among visitors. We also determine where our content is
    accessed to structure our site for the best possible user experience. In addition, we count clicks on social media
    sharing buttons to analyse the content of the Website and its associated applications and services that have been
    shared or referenced.</p>

     <p><strong>Third-party cookies</strong></p>

<p>Third parties, such as advertisers, advertising networks and providers of tracking services, may set cookies on
    your device when you are visiting the Website and its associated applications and services, for example, to
    provide you with targeted advertising or to compile statistics on the number of visitors. Since your device must
    request these advertisements from third parties servers, these third parties may view, modify or set their own
    cookies as if you had requested a webpage from the third parties’ website directly. We do not control these third
    parties tracking technologies or how they may be used. You may prevent the placement of and tracking by such
    third-party cookies by adjusting or modifying the appropriate settings on your device.</p>

     <p><strong>Duration cookies are stored</strong></p>

<p>The length of time that cookies remain on websites generally depends on the type of cookie used. Session cookies
    expire when the browser is closed, while persistent cookies have typical expiration dates between two months and
    a couple of years. We may decide to use any one of these or a combination of two or more.</p>

     <p><strong>Your rights</strong></p>

<p>We are committed to respecting your rights. Upon your request, we will make available any of the personal data we
    have collected, used or disclosed. You have the right to:</p>
<ul>
    <li><p>Know what personal data we hold about you.</p></li>
    <li><p>Have incomplete, unnecessary, incorrect or outdated personal data updated or deleted.</p></li>
 	<li><p>Request that processing of your personal data for direct marketing or market research purposes is
        stopped.</p></li>
</ul>
<p>Applicable legislation may contain restrictions and other provisions regarding your rights. The rights listed
    above may be exercised by contacting us at <a href="mailto:info@whowillwin.football">info@whowillwin.football</a>.
    If we receive a request under this provision, we will endeavour to acknowledge it within seventy-two (72)
    business hours and handle it promptly. We will retain this personal data as necessary to comply with our legal
    obligations, resolve disputes and enforce our Agreements. Please note that in some situations exercising the
    above rights may mean that you will not be able to use all the functionalities on the Website, or other services
    offered by us to you, since certain data processing activities relying on your consent may be an integral part of
    such functionalities or services.</p>

<p><strong>How we protect your information</strong></p>

<p>We are concerned with protecting your personal data. We encrypt all personal data using secure socket layer (SSL)
    technology. Despite that, we cannot ensure or warrant the security of any personal data you transmit to us or
    guarantee that your personal data may not be accessed, disclosed, altered or destroyed by breach of any of our
    industry-standard safeguards because no method of transmission over the Internet or method of electronic storage,
    is 100% secure. Therefore, we cannot guarantee the absolute security of your personal data. In the event that
    personal data is compromised as a breach of security, we will promptly notify you. We reserve the right to
    determine the form and means of providing such notifications to you.</p>

    <p><strong>Update to this Privacy Policy</strong></p>

    <p>Occasionally, we may change this Privacy Policy and those changes take effect immediately upon posting. However,
        in the event of any adverse changes, we will post a notice informing you of such changes both at the beginning
        of this Privacy Policy and on the home page of the Website. We advise you to visit this Privacy Policy from time
        to time to be up-to-date with our Privacy Policy.</p>

    <p>Should you have any additional questions, please do not hesitate to contact us
        at <a href="mailto:info@whowillwin.football">info@whowillwin.football</a>.</p>
</div>
{% endblock %}