{% extends 'base.html' %}

{% block title %}Terms and Conditions{% endblock %}

{% block content %}
<div class="header">
    <h2 style="text-align: center;">Terms and Conditions</h2>
</div>

<div class="body-text-container">
    <p><strong>Introduction</strong></p>

    <p><a href="http://www.whowillwin.football">www.whowillwin.football</a> (“Website”) and its associated applications and
        services are owned and operated by Hascy Technologies (“we” or “us” or “our”); registered in Nigeria. These
        Terms and Conditions (“T &amp; C”) govern your use of the Website and its associated applications and services.
        These are offered subject to your acceptance without modification of all of the T &amp; C contained herein
        and all other operating rules and procedures including but not limited to our <u>Privacy and Cookie Policy</u>
        (collectively, the “Agreement”).</p>

    <p>By accessing or using any part of the Website and its associated applications and services, you acknowledge and agree
        that you have read and understood these T &amp; C and you agree to be bound by these T &amp; C each time
        you use the Website and its associated applications and services. If you do not wish to be bound by them, you
        should not continue to use or access the Website and its associated applications and services.</p>

    <p>We may in the future, offer new services and/or features through the Website and its associated applications and
        services. Such new features and/or services shall be subject to the T &amp; C of this Agreement.</p>

    <p>We reserve the right to amend the terms contained in these T &amp; C without prior notification. The latest version
        will govern any usage by you of the Website and its associated applications and services from the date we
        post the amended version on the Website. Thus, you must check for updates whenever you access the Website.</p>

    <p>These T &amp; C were last updated on 21 May 2023.</p>

    <p><strong>Access to the Website and its associated applications and services </strong></p>

    <p>The Website and its associated applications and services may only be accessed and used on a device owned or
    controlled by you and running the relevant operating system and software, so you must make sure you have a
    compatible device which meets all the necessary technical specifications to enable you to use the Website and its
    associated applications and services.</p>

<p>You will be assumed to have obtained permission from the owner of any device that is controlled, but not owned,
    by you to access the Website from that device. You accept responsibility, in accordance with these T &amp; C,
    for all access to, and use of, the Website and its associated applications and services on any device, whether
    or not it is owned by you.</p>

<p>You acknowledge that the internet service provider for any device on which you access or use the Website and its
    associated applications and services may charge for internet access (including data usage) on that device.</p>

<p>We cannot and do not guarantee the continuous, uninterrupted or error-free operability of the Website and its
      associated applications and services or that they will respond at a certain speed (since this depends on a
    number of factors outside our control).</p>
      <p><strong>What you are allowed to do</strong></p>

<p>You may only use our Website and its associated applications and services for personal and non-commercial
    purposes in accordance with these T &amp; C for lawful purposes (complying with all applicable laws and
    regulations), and in a responsible manner.</p>

<p>You may link to the Website from any other website provided the link is not misleading or deceptive and fairly
    indicates its destination, you do not imply that we endorse you, your website, or any products or services you
    offer, you link to (and do not frame or replicate) the home page of the Website, and the linked website does
    not contain any content that is unlawful, threatening, abusive, defamatory, pornographic, obscene, vulgar,
    indecent, offensive or which infringes on the intellectual property rights or other rights of any third party.</p>

      <p><strong>What you are not allowed to do</strong></p>

<p>Except to the extent expressly set out in these terms and conditions, you are not allowed to:</p>
<ul>
 	<li><p>remove or change any content of Website, and its associated applications and services or attempt to
        circumvent security or interfere with the proper working of the Website or any servers on which it is
        hosted, or attempt to reverse-engineer the Website;</p></li>
 	<li><p>use the Website and its associated applications and services in a way that might damage our name or
        reputation or that of any of our advertisers, donors, visitors, social media followers;</p></li>
 	<li><p>or otherwise do anything that is not expressly permitted by these T &amp; C.</p></li>
</ul>
      <p>To do anything with the Website that is not expressly permitted by these T &amp; C, you will need an express
    permission from us. Please contact us
    via <a href="mailto:info@whowillwin.football">info@whowillwin.football</a>.</p>

      <p><strong>Intellectual property rights</strong></p>

<p>All intellectual property rights (including logos, text, graphics, frontend and backend source code, videos, sound,
    trademarks and images), are owned by us or our licensors. Except as expressly set out here, nothing in these
    T &amp; C gives you any rights in respect of any intellectual property owned by us or our licensors and you
    acknowledge that you do not acquire any ownership rights by accessing the Website and its associated
    applications and services.</p>

<p>You must not decompile, disassemble, or otherwise attempt to derive any source code or underlying algorithms of
    any part of the Website and its associated applications and services, nor copy, transfer, rent, lease,
    distribute (including, without limitation, communicating to the public), modify, translate, or otherwise
    create derivative works of any part of the Website.</p>
<p><strong>Solicited user content</strong></p>

<p>From time to time, we may request that you submit to us certain content which could include but is not limited
    to text, audio, video or graphics. You agree that we may publish and communicate to the public any such content.
    By submitting content to us, you grant us a perpetual, royalty-free, non-exclusive, irrevocable, worldwide
    and transferable licence to:</p>
<p><ul>
 	<li><p>display, reproduce, modify, add to, use, copy, publish, transmit, index, crawl, communicate and adapt
        such content for any purpose and in any manner anywhere in the world, including (without limitation) on and
        in relation to the Website and its associated applications and services; and</p></li>
 	<li><p>permit any other person, company or organisation to do any of the things referred to above
        (“License”).</p></li>
</ul>
      <p>For the avoidance of doubt, the License will survive the termination of these T &amp; C.</p>

<p>You unconditionally and irrevocably agree to:</p>
<p><ul>
 	<li><p>consent to any act or omission that would otherwise infringe your moral rights in the content; and</p></li>
 	<li><p>waive all or your moral rights in the content to the extent permitted by law.</p></li>
</ul>
      <p>You further agree to ensure that all other persons involved in the development of content which you submit to
    us provide the above consents and waivers to the extent that they own moral rights in the content.</p>
      <p><strong>Copyright Infringement</strong></p>

<p>If you believe that any content of our Website and its associated applications and services or any third-party
    websites we link to (which are not solicited user content as defined above) violate your copyright, you are
    encouraged to notify us through <a href="mailto:info@whowillwin.football">info@whowillwin.football</a> .
    We shall respond to all such notices, including as required or appropriate by removing the infringing
    content or disabling all links to the infringing content.</p>

      <p><strong>Functionality </strong></p>

<p>You agree that accessing and use of the Website and its associated applications and services are made available
    free of charge on an ‘as is’ and ‘as available’ basis and at your sole risk.</p>

<p>We reserve the right to change the design, features and/or functionality of the Website at any time, with or
    without prior notice.</p>

<p>Whilst we try to make sure that information provided by our Website and its associated applications and
    services are correct, we make or give no representation or warranty as to the accuracy, completeness, currency,
    correctness, reliability, integrity, quality, fitness for purpose or originality of such information.
    To the fullest extent permitted by law, we accept no liability for any loss or damage of any kind incurred as
    a result of you or anyone else relying on the content of the Website and its associated applications
    and services.</p>

<p>We cannot and do not guarantee that the Website or its content will be free from viruses and/or other code
    that may have contaminating or destructive elements. You are responsible for taking precautions as necessary
    to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful
    or destructive content.</p>

      <p><strong>Your personal information</strong></p>

<p>Use of your personal information submitted to us (whether via the Website and its associated applications and
    services) is governed by our <u>Privacy Policy</u>. Additionally, by using the Website and its associated
    applications and services, you acknowledge that internet transmissions are never completely private or secure
    and that it is always possible that any message or information you send may be read or intercepted by others.</p>

      <p><strong>External links</strong></p>

<p>The Website and its associated applications and services may, from time to time, include links to external sites,
    third-party offers and promotions. We include these to provide you with access to information, products or
    services that you may find useful or interesting. We are not responsible for the content of these sites or
    for anything provided by them and do not guarantee that they will be continuously available. The fact that we
    include links to such external sites does not imply any endorsement of or association with their operators
    or promoters.</p>

      <p><strong>Privacy</strong></p>

<p>We take your privacy very seriously. All your personal information is held in accordance with
    our <u>Privacy Policy</u>. Please review this document carefully to ensure you understand it before
    accepting these T &amp; C.</p>

      <p><strong>Suspension and termination</strong></p>

<p>We may, from time to time, with or without prior notice, temporarily suspend the operation of the Website and
    its associated applications and services (in whole or in part) for repair or maintenance work or in order to
    update or upgrade any contents, features or functionality.</p>

<p>We can terminate the Website and its associated applications and services immediately as part of a general
    shutdown of our service if we need to do so for security, legal or any other reasons. All provisions of this
    Agreement which by their nature should survive termination shall survive termination, including, without
    limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>

    <p><strong>Indemnification</strong></p>

    <p>You agree to indemnify and hold harmless <a href="http://www.whowillwin.football">www.whowillwin.football</a> ,
        its owners, employees, editors, donors, advertisers and agents from and against any and all claims and expenses,
        including attorneys’ fees, arising out of your use of the Website and its associated applications and services,
        including but not limited to your violation of this Agreement.</p>

    <p><strong>General </strong></p>

    <p>You may not transfer or assign any or all of your rights or obligations under these T &amp; C. However,
        we may assign our rights without condition.</p>

    <p>All notices given by you to us must be given in writing
        to <a href="mailto:info@whowillwin.football">info@whowillwin.football</a></p>

    <p>If we fail to enforce any of our rights, that does not result in a waiver of that right.</p>

    <p>If any provision of these T &amp; C is found to be unenforceable, all other provisions shall remain
        unaffected.</p>

    <p>These T &amp; C may not be varied except with our express written consent.</p>

    <p>These T &amp; C and any document expressly referred to in them represent the entire Agreement between you and
        us in relation to their subject matter. We are required by law to advise you that any contract formed on the
        terms of these T &amp; C may be concluded in English language only and that no public filing requirements apply.</p>

    <p>These T &amp; C shall be governed by Nigerian law, and you agree that any dispute between you and us regarding
        them will only be dealt with by a court in Nigeria.</p>
</div>
{% endblock %}